<!DOCTYPE html>

<html>
    <head>
        <title>Library</title>
        <link rel="icon" href="/img/book.png">
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="particles-js"></div>
        {{>login}}
        {{>signup}}
        {{>header}}
        <div class="main-content">
            <h1>{{title}}</h1>
            <p>Use this site to connect to the Library</p>

            <form id="ReturnForm">
                <button>Return</button>
            </form>

            <p id="msg1"></p>
        </div>

        {{>footer}}

        <script src="/js/return.js"></script>
    </body>
</html>